<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Movies app</title>
	<link rel="shortcut icon" href="https://denielden.github.io/img/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="https://denielden.github.io/img/favicon.svg">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap" rel="stylesheet">
	<script src="js/vue.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div id="vue-container">
		<header>
			<a href="https://vuejs.org/" target="_blank" rel="noopener noreferrer">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 261.76 226.69"><path d="M161.096.001l-30.225 52.351L100.647.001H-.005l130.877 226.688L261.749.001z" fill="#41b883"/><path d="M161.096.001l-30.225 52.351L100.647.001H52.346l78.526 136.01L209.398.001z" fill="#34495e"/></svg>
			</a>
			<input v-model.trim="query" v-on:keyup.enter="runQuery" placeholder="Search Movies and Series">
			<nav>
				<div id="toggleNav"></div>
			</nav>
			<div class="login">
				<a href="javascript:void(0)">Login</a>
				<a href="javascript:void(0)">Sign Up</a>
			</div>
		</header>

		<div class="sidebar">
			<ul>
				<li v-on:click="startMovie">Home</li>
				<li>Saved movies
					<ul id="saved">
						<li><small>{{ saved }} Saved</small></li>
					</ul>
				</li>
				<li>
					<label class="switch">
						<input type="checkbox" v-on:click="toggleMode" checked>
						<span class="slide-mode"></span>
					</label>
					<small class="labelmode">Dark mode</small>
				</li>
			</ul>
			<small>
				Developed by <a href="/" target="_blank" rel="noopener noreferrer">denie/den</a>
				<br>
				Source data: <a href="https://rapidapi.com/apidojo/api/imdb8/" target="_blank" rel="noopener noreferrer">RapidAPI</a>
			</small>
		</div>

		<div class="container">
			<section id="top">
				<h1>{{ query === '' ? 'Popular Movies' : query }}</h1>
				<p>Have been found {{ data.movies.length }} results.</p>
				<label for="orderBy">Order by:</label>
				<select name="orderBy" id="orderBy" v-model="orderBy" v-on:change="orderByVal">
					<option value="date90">Date 9-0</option>
					<option value="date09">Date 0-9</option>
					<option value="nameAZ">Name A-Z</option>
					<option value="nameZA">Name Z-A</option>
				</select>
			</section>

			<section class="grid-cards">
				<div class="single-card" v-for="ele in data.movies">
					<div class="card-img">
						<img :src="ele.image && ele.image.url" loading="lazy" :alt="ele.title">
					</div>

					<div class="info-card">
						<h1>{{ ele.title }}</h1>
						<p><i>{{ ele.titleType }}</i></p>
						<p>{{ ele.year }}</p>
						<!--
						<button :id="ele.id.replace(/\D/g, '')" v-on:click="getDetails">See details</button>
						-->
						<button :id="ele.id.replace(/\D/g, '')" :value="ele.title" v-on:click="saveMovie">Save Movie</button>
					</div>
				</div>
			</section>

			<small class="d-sm">
				Developed by <a href="/" target="_blank" rel="noopener noreferrer">denie/den</a>
				<br>
				Source data: <a href="https://rapidapi.com/apidojo/api/imdb8/" target="_blank" rel="noopener noreferrer">RapidAPI</a>
			</small>
			<a href="#top" id="goTop">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 450"><path d="M168.5 164.2l148 146.8c4.7 4.7 4.7 12.3 0 17l-19.8 19.8c-4.7 4.7-12.3 4.7-17 0L160 229.3 40.3 347.8c-4.7 4.7-12.3 4.7-17 0L3.5 328c-4.7-4.7-4.7-12.3 0-17l148-146.8c4.7-4.7 12.3-4.7 17 0z"></path></svg>
			</a>
		</div>
	</div>

	<script src="js/main.js"></script>
</body>
</html>